
WorldsCollide/Saved/AutoScreenshot.png
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-EA37DB0640DA54F05C2E8AB1E581D55C/CrashReportClient.ini
WorldsCollide/Saved/Logs/WorldsCollide.log
WorldsCollide/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
WorldsCollide/Saved/SourceControl/UncontrolledChangelists.json
WorldsCollide/Intermediate/ReimportCache/3688439234.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
WorldsCollide/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-1EE1AE1A4C5F35E0B807238A32A9347F/CrashReportClient.ini
WorldsCollide/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
WorldsCollide/Saved/Logs/WorldsCollide-backup-2024.09.07-01.12.19.log
WorldsCollide/Saved/Logs/WorldsCollide.log
WorldsCollide/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
WorldsCollide/Saved/Telemetry/Telemetry.json
