
WorldsCollide/Saved/AutoScreenshot.png
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-EA37DB0640DA54F05C2E8AB1E581D55C/CrashReportClient.ini
WorldsCollide/Saved/Logs/WorldsCollide.log
WorldsCollide/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
WorldsCollide/Saved/SourceControl/UncontrolledChangelists.json
WorldsCollide/Intermediate/ReimportCache/3688439234.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
WorldsCollide/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-1EE1AE1A4C5F35E0B807238A32A9347F/CrashReportClient.ini
WorldsCollide/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
WorldsCollide/Saved/Logs/WorldsCollide-backup-2024.09.07-01.12.19.log
WorldsCollide/Saved/Logs/WorldsCollide.log
WorldsCollide/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_ea5d70b5306083b5/Default/DDCKey-Editor.txt
WorldsCollide/Saved/Telemetry/Telemetry.json
WorldsCollide/Intermediate/CachedAssetRegistry_0.bin
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-89419A994AD5FE5145DD9382F766D359/CrashReportClient.ini
WorldsCollide/Saved/Config/CrashReportClient/UECC-Windows-E349B7CC4F3B40387031E5804D2A0873/CrashReportClient.ini
WorldsCollide/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
WorldsCollide/Saved/Logs/WorldPartition/StreamingGeneration-PIE_OpenWorld.Engine-00005c78-2024-09-24T19.19.46.774Z.log
WorldsCollide/Saved/Logs/WorldPartition/StreamingGeneration-PIE_OpenWorld.Engine-00005c78-2024-09-24T19.20.08.195Z.log
WorldsCollide/Saved/Logs/WorldPartition/StreamingGeneration-PIE_OpenWorld.Engine-00005c78-2024-09-24T19.20.47.298Z.log
WorldsCollide/Saved/Logs/WorldPartition/StreamingGeneration-PIE_OpenWorld.Engine-00005c78-2024-09-24T19.21.13.809Z.log
WorldsCollide/Saved/Logs/WorldPartition/StreamingGeneration-PIE_OpenWorld.Engine-00005c78-2024-09-24T19.22.38.755Z.log
WorldsCollide/Saved/Logs/WorldsCollide-backup-2024.09.17-01.55.07.log
WorldsCollide/Saved/Logs/WorldsCollide-backup-2024.09.22-02.58.49.log
WorldsCollide/Saved/Logs/WorldsCollide.log
WorldsCollide/Saved/Telemetry/Telemetry.json
*.bin
*.ini
*.log
*.json
